NODE_ENV=development

# Product service
PRODUCT_SERVICE_PORT=4000
PRODUCT_DATABASE_URL=postgresql://lama:lama@localhost:5432/product_service?schema=public

# Order service
ORDER_SERVICE_PORT=4001
ORDER_MONGODB_URI=mongodb://lama:lama@localhost:27017/order_service?authSource=admin

# Payment service
PAYMENT_SERVICE_PORT=4002
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Shared integrations
KAFKA_BROKERS=localhost:9092
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=

